{{ attach_library('daisy/style.css') }}

{% set sidebar_left_exists = page.sidebar_left|render|striptags('<img><video><audio><drupal-render-placeholder>')|trim is not empty %}
{% set sidebar_right_exists = page.sidebar_right|render|striptags('<img><video><audio><drupal-render-placeholder>')|trim is not empty %}
<div id="page-wrapper">
	<div id="page">
		{% block head %}
			<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
				<div class="container layout-header-row">
					<div class="col-2">
						{{ page.logo }}
					</div>
					<div class="col-10">
						<div
							class="menu-search-wrapper">
							<nav class="primary-menu">
								{{ page.primary_menu }}
							</nav>
							<div class="search-button">
								{{ page.search_button }}
							</div>
						</div>
					</div>
				</div>
			</header>
		{% endblock %}
		<div id="main-wrapper" class="layout-main-wrapper clearfix">
			<div id="main" class="layout-row">
				<div class="col-left">
					{% if sidebar_left_exists %}
						<aside class="section" role="complementary">
							{{ page.sidebar_left }}
						</aside>
					{% endif %}
				</div>
				<div class="col-content">
					{% if page.breadcrumb %}
						<div class="breadcrumb-wrapper">
							{{ page.breadcrumb }}
						</div>
					{% endif %}
					<section class="section">
						{% block content %}
							{{ page.content }}
						{% endblock %}
					</section>
				</div>
				<div class="col-right">
					{% if sidebar_right_exists %}
						<aside class="section" role="complementary">
							{{ page.sidebar_right }}
						</aside>
					{% endif %}
				</div>
			</div>
		</div>
		<footer class="site-footer">
			{% block footer %}
				<div class="{{ container|default('container') }}">
					<div class="site-footer__top clearfix">
						{{ page.footer|default('') }}
					</div>
				</div>
			{% endblock %}
		</footer>
	</div>
</div>

{# {% for item in items %}
  <div class="field-item">
    {% if item.content['#markup'] is not empty %}
      <div class="image-wrapper">
        {# Apply a class directly to the image field #}
        {# {{ item.content|without('class') }}
        <img src="{{ item.content['#url'] }}" class="custom-image-class" alt="{{ item.alt }}">
      </div>
    {% else %}
      <p>No image available.</p>
    {% endif %}
  </div>
{% endfor %}
web/themes/custom/daisy/templates/nodes/field--node--field-poster--movie--genre-mode.html.twig  #}
